
@{
    ViewBag.Title = "Success";
}

<h2>Success</h2>

<div class="text-success">
    Thank you for your submission request. Your application will generally be reviewed within the next 45-60 days, 
    and we will respond to your request upon review.
    If at any time you have a question, please contact us at mail@mail.mail
</div>
<p>
    @Html.ActionLink("Back to Main Page", "Index")
</p>
